<main class="main">
    <section class="movie-list">
        <app-movie-card (idToParent)="addFilm($event)" class="movie-card"
            *ngFor="let item of filmsList"
            [Film]="item"></app-movie-card>
    </section>
    <section class="movie-favourite">
        <h2 class="movie-favourite__title">{{titleFavorite}}</h2>
        <div class="movie-favourite__wrap-films">
            @if(filmInFavorite.length !== 0){
            <app-movie-mini-card class="movie-favourite__mini-card"
                [films]="filmsList" [id]="item"
                *ngFor="let item of filmInFavorite"></app-movie-mini-card>
            }
        </div>
    </section>
    <section class="movie-watch-list">
        <h2 class="movie-watch-list__title">{{titleWatch}}</h2>
        <div class="movie-watch-list__wrap-films">

            @if(filmInWatch.length !== 0){
            <app-movie-mini-card class="movie-favourite__mini-card"
                [films]="filmsList" [id]="item"
                *ngFor="let item of filmInWatch"></app-movie-mini-card>
            }
        </div>
    </section>
</main>
